.codemirror-wrapper {
	height: 100%;
}

.cm-editor {
	height: 100%;
  max-height: 450px;
  color: "white";
  background-color: "#034"
}

.cm-editor .cm-scroller {
  overflow: scroll;
  min-height: 350px;
}